@use '../app.scss' as *;

.puzzle-list-box {
  border-style: solid;
  box-sizing: border-box;
  border-color: $word-box-border;
  border-width: 0.25rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Non-prefixed version, 
                        currently supported by all other modern browsers */

  .title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 150;
  }

  .subtitle {
    font-size: 1.0rem;
    margin-bottom: 0.5rem;
    color: var(--mat-sys-primary);
    font-weight: 100;
  }

  .score {
    font-size: 1.2rem;
  }

  .status-indicator {
    float: right;
    display: block;
  }

  .select-indicator {
    float: left;
    display: block;
    width: 2.0rem;
    height: 100%;
  }
}

.puzzle-list-divider {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.new-puzzle-box {
  border-color: $connections-green;
}

.no-list-items {
  font-size: 1.2rem;
  margin-top: 1.0rem;
  font-style: italic;
}

.bad {
  color: red;
}

.star-rating {
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.star-icon {
  flex-shrink: 0;
  width: 2rem;
  height: 1.5rem;
}

.message-box {
  display: flex;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border-color: $word-box-border;
  margin-top: 1rem;
  align-items: center;
  gap: 1.0rem;
  padding: 0.5rem;
  clear: both;

  .good {
    color: lightgreen;
  }

  .bad {
    color: goldenrod;
  }
}

.button-box-float {
  float: right;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: right;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

.icon-button-on {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}
