<mat-tab-group dynamicHeight [(selectedIndex)]="selectedTab">
  <mat-tab label="Play">

    @if (addDataMessage)
    {
      <div class="message-box">
        <mat-icon class="good" fontIcon="add_alert" /><div class="good">{{addDataMessage}}</div>
      </div>
    }

    @for(puzzle of puzzles; track $index)
    {
      <div [ngClass]="{'new-puzzle-box' : addedPuzzleHashes.includes(puzzle.hash)}" class="puzzle-list-box" id="p-{{puzzle.hash}}">
        <mat-icon class="status-indicator" [fontIcon]="getIndicatorIcon(puzzle)" />
        <div class="title">{{puzzle.title}}</div>
        <div class="subtitle">{{puzzle.subtitle}}</div>
        
        @if (puzzle.status == PuzzleStatus.Complete)
        {
          @if (puzzle.starScore > 0)
          {
            <div class="star-rating" [style]="starRatingWidthStyle(puzzle)">
              <mat-icon class="star-icon" fontIcon="star" />
              <mat-icon class="star-icon" fontIcon="star" />
              <mat-icon class="star-icon" fontIcon="star" />
              <mat-icon class="star-icon" fontIcon="star" />
              <mat-icon class="star-icon" fontIcon="star" />
            </div>
          }
          @else 
          {
            <div class="score">No Stars</div>
          }
        }
        <div class="button-container">
            <button matButton="outlined" (click)="playPuzzle(puzzle)">{{getPlayString(puzzle)}}</button>
        </div>
      </div>
    }
    @if (puzzles.length == 0)
    {
      <div class="no-list-items">
        No puzzles found.
      </div>
      <div class="no-list-items">
        Scan a QR code to load puzzles or go make some in the "Make" tab.
      </div>
    }
  </mat-tab>
  <mat-tab label="Make">

    <div class="button-box">
      <button matButton="outlined" (click)="makePuzzle()">
        <mat-icon fontIcon="add" />New Puzzle
      </button>
      <button matButton="outlined" (click)="shareSelected()" [disabled]="getSelected().length == 0">
        <mat-icon fontIcon="share" /> Share Selected
      </button>
      
      <button matButton="outlined" [matMenuTriggerFor]="makemenu">More...</button>
      
      <mat-menu #makemenu="matMenu">

        <button mat-menu-item (click)="selectAll()"><mat-icon fontIcon="select_all" />Select All</button>
        <button mat-menu-item (click)="deselectAll()" [disabled]="getSelected().length == 0"><mat-icon fontIcon="deselect" />Select None</button>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="showImportDialog()"><mat-icon fontIcon="upload" />Import...</button>
        <button mat-menu-item (click)="exportSelectedPuzzles()" [disabled]="getSelected().length == 0"><mat-icon fontIcon="download" />Export Selected</button>
        
        <mat-divider></mat-divider>
        
        <button mat-menu-item (click)="deleteSelected()" class="bad" [disabled]="getSelected().length == 0"><mat-icon fontIcon="delete" />Delete Selected</button>
      </mat-menu>
    </div>

    @for(puzzle of madePuzzles; track $index)
    {
      <div class="puzzle-list-box" (click)="toggleSelect($index)" id="m-{{$index}}">
        <mat-icon class="status-indicator" fontIcon="more_vert" [matMenuTriggerFor]="itemmenu" (click)="$event.stopPropagation()"/>
        <mat-menu #itemmenu="matMenu">
          <button mat-menu-item (click)="editPuzzle($index)"><mat-icon fontIcon="edit" />Edit</button>
          <button mat-menu-item (click)="playtest($index)"><mat-icon fontIcon="play_circle" />Playtest</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="deletePuzzle($index)" class="bad"><mat-icon fontIcon="delete" />Delete</button>
        </mat-menu>

        <div class="select-indicator">
          @if (isSelected($index))
          {
            <mat-icon fontIcon="check_box_outline" />
          }
          @else
          {
            <mat-icon fontIcon="check_box_outline_blank" />
          }
          
        </div>

        <div class="title">{{puzzle.title}}</div>
        <div class="subtitle">{{puzzle.subtitle}}</div>
      </div>
    }
  </mat-tab>
</mat-tab-group>
