
<div class="word-grid">
  <mat-form-field class="title-input">
    <mat-label>Puzzle Title</mat-label>
    <input matInput [(ngModel)]="puzzle.title" (ngModelChange)="validateForm()">
  </mat-form-field>

  <mat-form-field class="title-input">
    <mat-label>Subtitle</mat-label>
    <input matInput [(ngModel)]="puzzle.subtitle" (ngModelChange)="validateForm()">
  </mat-form-field>
</div>

<div class="word-grid">

  <div class="group-box group-box-yellow">

    <div class="title-flex">
      <mat-form-field class="group-title-input">
        <mat-label>Group Description</mat-label>
        <input matInput [(ngModel)]="puzzle.groups[0].title" (ngModelChange)="validateForm()">
      </mat-form-field>

      <div class="updown-flex">
        <mat-icon fontIcon="arrow_upward_alt" (click)="swapGroups(0,3)" />
        <mat-icon fontIcon="arrow_downward_alt" (click)="swapGroups(0,1)" />
      </div>
    </div>

    <div class="group-words-flex">
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[0].items[0]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[0].items[1]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[0].items[2]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[0].items[3]" class="word-input" (ngModelChange)="validateForm()">
      </div>
    </div>

  </div>

  <div class="group-box group-box-green">
    <div class="title-flex">
      <mat-form-field class="group-title-input">
        <mat-label>Group Description</mat-label>
        <input matInput [(ngModel)]="puzzle.groups[1].title"  (ngModelChange)="validateForm()">
      </mat-form-field>

      <div class="updown-flex">
          <mat-icon fontIcon="arrow_upward_alt" (click)="swapGroups(1,0)" />
          <mat-icon fontIcon="arrow_downward_alt" (click)="swapGroups(1,2)" />
      </div>
    </div>

    <div class="group-words-flex">
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[1].items[0]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[1].items[1]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[1].items[2]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[1].items[3]" class="word-input" (ngModelChange)="validateForm()">
      </div>
    </div>

  </div>

  <div class="group-box group-box-blue">
    <div class="title-flex">
      <mat-form-field class="group-title-input">
        <mat-label>Group Description</mat-label>
        <input matInput [(ngModel)]="puzzle.groups[2].title" (ngModelChange)="validateForm()">
      </mat-form-field>

      <div class="updown-flex">
          <mat-icon fontIcon="arrow_upward_alt" (click)="swapGroups(2,1)" />
          <mat-icon fontIcon="arrow_downward_alt" (click)="swapGroups(2,3)" />
      </div>
    </div>

    <div class="group-words-flex">
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[2].items[0]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[2].items[1]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[2].items[2]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[2].items[3]" class="word-input" (ngModelChange)="validateForm()">
      </div>
    </div>

  </div>

  <div class="group-box group-box-purple">
    <div class="title-flex">
      <mat-form-field class="group-title-input">
        <mat-label>Group Description</mat-label>
        <input matInput [(ngModel)]="puzzle.groups[3].title" (ngModelChange)="validateForm()">
      </mat-form-field>

      <div class="updown-flex">
        <mat-icon fontIcon="arrow_upward_alt" (click)="swapGroups(3,2)" />
        <mat-icon fontIcon="arrow_downward_alt" (click)="swapGroups(3,0)" />
      </div>
    </div>

    <div class="group-words-flex">
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[3].items[0]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[3].items[1]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[3].items[2]" class="word-input" (ngModelChange)="validateForm()">
      </div>
      <div class="word-box">
        <input matInput [(ngModel)]="puzzle.groups[3].items[3]" class="word-input" (ngModelChange)="validateForm()">
      </div>
    </div>

  </div>
</div>

<div class="puzzle-validity-status">
  @if (validityStatus == PuzzleValidityResult.Valid)
  {
    <mat-icon class="good" fontIcon="check_circle" /><div class="message good">Puzzle is valid.</div>
  }
  @else if (validityStatus == PuzzleValidityResult.DuplicateWord)
  {
    <mat-icon class="bad" fontIcon="warning" /><div class="message bad">Puzzle cannot have any duplicate words.</div>
  }
  @else if (validityStatus == PuzzleValidityResult.EmptyGroupTitle)
  {
    <mat-icon class="bad" fontIcon="warning" /><div class="message bad">All groups must have titles.</div>
  }
  @else if (validityStatus == PuzzleValidityResult.EmptyPuzzleTitle)
  {
    <mat-icon class="bad" fontIcon="warning" /><div class="message bad">Puzzle must have a title.</div>
  }
  @else if (validityStatus == PuzzleValidityResult.EmptyWord)
  {
    <mat-icon class="bad" fontIcon="warning" /><div class="message bad">No words may be left blank.</div>
  }
  @else if (validityStatus == PuzzleValidityResult.WrongGroupCount)
  {
    <mat-icon class="bad" fontIcon="warning" /><div class="message bad">Puzzle must have {{NUMGROUPS}} groups.</div>
  }
  @else if (validityStatus == PuzzleValidityResult.WrongGroupSize)
  {
    <mat-icon class="bad" fontIcon="warning" /><div class="message bad">Each group must have {{GROUPSIZE}} words.</div>
  }
</div>

<div class="button-box">
  <mat-checkbox [checked]="hasStartingOrder" (change)="hasStartingOrder = !hasStartingOrder">Specify starting positions</mat-checkbox>
</div>

@if (hasStartingOrder)
{
  <div class="button-box">
      <div cdkDropList cdkDropListOrientation="mixed" class="starting-order-list" (cdkDropListDropped)="drop($event)">
      @for (i of startingConfig; track i) {
        <div class="starting-order-word-box" [ngClass]="{
          'group-box-yellow': getGroupIndexFromWordIndex(i) == 0,
          'group-box-green':  getGroupIndexFromWordIndex(i) == 1,
          'group-box-blue':  getGroupIndexFromWordIndex(i) == 2,
          'group-box-purple':  getGroupIndexFromWordIndex(i) == 3,
        }" cdkDrag>{{getWordFromWordIndex(i)}}</div>
      }
    </div>
  </div>

}

<div class="button-box">
  <button matButton="outlined" (click)="cancel()">Cancel</button>
  <button matButton="outlined" (click)="saveAndExit()">Save and Exit</button>
</div>