$connections-yellow: rgb(255, 255, 78);
$connections-green: rgb(61, 170, 61);
$connections-blue: rgb(23, 102, 200);
$connections-purple: rgb(146, 42, 146);
$word-box-bg: rgb(80, 80, 80);
$word-box-border: rgb(120, 120, 120);
$word-box-selected: rgb(211, 76, 76);

.title {
  font-size: 2.0rem;
  align-content: center;
  margin: 1.0rem;
  // color: $word-box-selected;
  // text-shadow:  0.1rem 0.2rem $connections-yellow,
  //               0.2rem 0.4rem $connections-green,
  //               0.3rem 0.6rem $connections-blue,
  //               0.4rem 0.8rem $connections-purple;
}

.round-container {
  width: 28rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.0rem;
}

.round-info-container {
  margin-bottom: 1.0rem;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.round-title {
  font-size: 1.5rem;
}

.round-description {
  font-size: 1.2rem;
}

.word-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.333rem;
}

.group-box {
  width: 28rem;
  height: 3.0rem;
  border: 0.25rem;
  border-radius: 0.5rem;
  border-style: outset;
  border-color: black;
  background-color: $word-box-bg;
  overflow: hidden;

  /* Animation */
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top center;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

.group-title {
  font-weight: 200;
  font-size: 1.2rem;
  margin-left: 1.0rem;
  margin-top: 0.25rem;
}

.group-items {
  width: 27rem;
  margin-left: 1.0rem;
}

.group-box-yellow {
  border-color: rgba($connections-yellow, 0.5);
  background-color: $connections-yellow;
  color: $word-box-bg;
}

.group-box-green {
  border-color: rgba($connections-green, 0.5);
  background-color: $connections-green;
}

.group-box-blue {
  border-color: rgba($connections-blue, 0.5);
  background-color: $connections-blue;
}

.group-box-purple {
  border-color: rgba($connections-purple, 0.5);
  background-color: $connections-purple;
}

.word-box {
  width: 6.25rem;
  height: 3.0rem;
  border: 0.25rem;
  border-radius: 0.5rem;
  border-style: outset;
  border-color: $word-box-border;
  background-color: $word-box-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Non-prefixed version, 
                        currently supported by all other modern browsers */
}

.word-box-selected {
  background-color: $word-box-selected;
  border-color: $word-box-selected;
}

.word-box-hidden {
  display: none;
}

.word-box-game-over {
  opacity: 25%;
}

.guesses-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.0rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.guess-marker {
  height: 1rem;
  width: 1rem;
  background-color: $word-box-selected;
  border-radius: 0.5rem;
}

.button-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.0rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.game-over-message {
  font-size: 1.2rem;
  margin-top: 1.0rem;
}

.qrCodeCanvas {
  display: block;
  width: 28rem;
  height: 28rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}