$connections-yellow: rgb(255, 255, 78);
$connections-green: rgb(61, 170, 61);
$connections-blue: rgb(23, 102, 200);
$connections-purple: rgb(146, 42, 146);
$word-box-bg: rgb(80, 80, 80);
$word-box-border: rgb(120, 120, 120);
$word-box-selected: rgb(211, 76, 76);

$screen-width: 24rem;
$max-screen-width: 50rem;

.game-header {
  display: flex;
  align-items: center;
  height: 3.0rem;
  margin-left: 1.0rem;
  gap: 1.0rem;
  margin-bottom: -0.5rem;
}

.game-title {
  font-size: 2.0rem;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  width: 2.0rem;
  height: 2.0rem;
}
.box {
    width: 2.0rem;
    height: 0.5rem;
}
.yellow-box {
  background-color: $connections-yellow;
}
.green-box {
  background-color: $connections-green;
}
.blue-box {
  background-color: $connections-blue;
}
.purple-box {
  background-color: $connections-purple;
}

.component-margin {
  margin: 0.25rem;
}

.component-container {
  min-width: $screen-width;
  max-width: $max-screen-width;
  margin-left: auto;
  margin-right: auto;
}

.button-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.0rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}