@if (puzzle)
{
  <div class="puzzle-info-container">
    <div class="puzzle-title">{{puzzle.title}}</div>
    <div class="puzzle-subtitle">{{puzzle.subtitle}}</div>
  </div>

  <div class="word-grid">
    @for (group of puzzle.groupsFound; track $index) {
      <div class="group-box" [ngClass]="{
        'group-box-yellow': group.value == GroupValue.Yellow,
        'group-box-green': group.value == GroupValue.Green,
        'group-box-blue': group.value == GroupValue.Blue,
        'group-box-purple': group.value == GroupValue.Purple,
        }">
        <div class="group-title">{{group.title}}</div>
        <div class="group-items">{{group.itemsString}}</div>
      </div>
    }
    @for (word of puzzle.words; track $index) {
      <div 
        class="word-box" 
        [ngClass]="{
          'word-box-selected' : word.selected,
          'word-box-hidden': !word.visible,
          'word-box-game-over': puzzle.status == PuzzleStatus.Complete,
          'word-box-wrong': word.selected && wrongAnim
          }"
        (click)="onClick(word)">
        <div>{{word.title}}</div>
      </div>
    }
  </div>
  
  @if (puzzle.status != PuzzleStatus.Complete)
  {
    <div class="guesses-box">
      <div>Mistakes Remaining:</div>
      @for (guess of [].constructor(puzzle.wrongGuessesRemaining); track $index) 
      {
        <div class="guess-marker"></div>
      }
    </div>
  }

  <div class="puzzle-score-container">
    <div class="box">
      <div class="label">Score:</div>
      <div class="value">{{puzzle.points}}</div>
    </div>
    <div class="box">
      <div class="label">Bonus:</div>
      <div class="value">{{puzzle.bonusMultiplier.toFixed(1)}}x</div>
    </div>
  </div>

  @if (puzzle.status != PuzzleStatus.Complete)
  {
    <div class="button-box">
      <button matButton="outlined" (click)="shuffle()">Shuffle</button>
      <button matButton="outlined" (click)="deselectAll()">Deselect All</button>
      <button matButton="outlined" (click)="submit()" [disabled]="wrongAnim">Submit</button>
    </div>
  }
  @else 
  {
    @if (puzzle.win)
    {
      <div class="game-over-message">Congratulations! You've completed the puzzle.</div>
    }
    @else
    {
      <div class="game-over-message">Sorry, you're out of guesses. Puzzle over.</div>
    }
  }
}